<div class="row">
  <div class="col-lg-12">
    <div class="panel-body">
      <h2 class="font-light m-b-xs">
      Areas/Positions/Shifts
      </h2>
    </div>
    <div class="col-lg-12">
      <ul class="nav nav-tabs">
        <% @restaurant.area_types.active.each_with_index do |area_type, i| %>
        <li class="<%= 'active' if i == 0 %>"><a data-toggle="tab" href="#workload-<%= area_type.id %>"><%= area_type.name %></a></li>
        <% end %>
      </ul>
      <div class="hpanel hyellow">
        <div class="panel-body">
          <div class="table-responsive">
            <div class="col-lg-12" style="">
              <div class="hpanel">
                <div class="tabs-left">
                  <div class="tab-content">
                    <% @restaurant.area_types.active.each_with_index do |area_type, t| %>
                    <div id="workload-<%= area_type.id %>" class="tab-pane <%= 'active' if t == 0 %>">
                      <table cellpadding="1" cellspacing="1" class="table table-responsive table-condensed">
                        <thead>
                          <th></th>
                          <% @restaurant.shift_types.active.each_with_index do |shift_type, i| %>
                          <th><%= shift_type.name %></th>
                          <% end %>
                        </thead>
                        <tbody>
                          <% @restaurant.position_types.active.each_with_index do |position_type, i| %>
                          <tr>
                            <td><%= position_type.name %></td>
                            <% @restaurant.shift_types.active.each_with_index do |shift_type, i| %>
                            <td>
                              <input
                              id="checkbox1"
                              type="checkbox"
                              data-action-type="ps-action"
                              data-shift-type="<%= shift_type.id %>"
                              data-position-type="<%= position_type.id %>"
                              data-area-type="<%= area_type.id %>"
                              <%= position_type.works_on?(area_type, shift_type) ? 'checked' : '' %>
                              >
                            </td>
                            <% end %>
                          </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>