<!DOCTYPE html>
<html>
  <head>
    <title>Restaurant Intelligence & Analytics | TIPMETRIC</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= render partial: "layouts/rollbar" %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= csrf_meta_tags %>
    <%= include_gon %>
    <%= javascript_include_tag "application" %>
    <script src="https://js.stripe.com/v3/"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
  </head>
  <body class="<%= @body_class %>">
    <!-- Header -->
    <div id="header">
      <div class="color-line">
      </div>
      <div id="logo" class="light-version">
        <span>
          <%= link_to root_path do %>
          <%= image_tag "home/brand_logo/brand_logo.png", class: "brand_logo" %>
          <% end %>
        </span>
      </div>
      <nav role="navigation">
        <div class="header-link hide-menu"><i class="fa fa-bars"></i></div>
        <div class="small-logo">
          <span class="text-primary">
            <%= link_to root_path do %>
            <%= image_tag "home/brand_logo/brand_logo.png", class: "brand_logo" %>
            <% end %>
          </span>
        </div>
        <!-- <form role="search" class="navbar-form-custom" method="post" action="#">
          <div class="form-group">
            <input type="text" placeholder="Search something special" class="form-control" name="search">
          </div>
        </form> -->
        <div class="mobile-menu">
          <button type="button" class="navbar-toggle mobile-menu-toggle" data-toggle="collapse" data-target="#mobile-collapse">
          <i class="fa fa-chevron-down"></i>
          </button>
          <div class="collapse mobile-navbar" id="mobile-collapse">
            <ul class="nav navbar-nav">
              <li>
                <a class="" href="#">Link</a>
              </li>
              <li>
                <a class="" href="#">Link</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="navbar-right">
          <ul class="nav navbar-nav no-borders">
            <li class="select-timezone">
              <%= select_tag :main_timezone, options_for_select(ActiveSupport::TimeZone.zones_map.values.each.map{|s| [s.name, s.name]}, @restaurant.timezone), class: "form-control select-2", data: { required_field: true } %>
              <%= submit_tag "Save", value: "Save", class: "save-timezone btn btn-success btn-lg" %>
            </li>
            <li class="toggle-timezone-select-li">
              <a href="" class="toggle-timezone-select">
                <span class="date"><%= @restaurant.current_date %></span>
                <span class="timezone"><%= @restaurant.timezone %></span>
              </a>
            </li>
            <% if user_signed_in? && current_user.is_admin? %>
            <li>
              <%= link_to restaurants_path do %>
              <i class="pe-7s-tools"></i>
              <% end %>
            </li>
            <li>
              <%= link_to messages_path do %>
              <i class="pe-7s-mail"></i>
              <% end %>
            </li>
            <li>
              <%= link_to subscribers_path do %>
              <i class="pe-7s-add-user"></i>
              <% end %>
            </li>
            <% end %>
            <% if current_user %>
            <% current_user.email %>
            <li>
              <%= link_to destroy_user_session_path, :method => :delete do %>
              <i class="pe-7s-upload pe-rotate-90"></i>
              <% end %>
            </li>
            <% else %>
            <li>
              <%= link_to new_user_session_path do %>
              <i class="pe-7s-user"></i>
              <% end %>
            </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>
    <!-- Navigation -->
    <aside id="menu">
      <div id="navigation">
        <div class="profile-picture">
          <%= link_to dashboard_path do %>
          <div class="logo-symbol-wrapper">
            <div class="symbol"><%= (current_user.name || current_user.email).to_s[0] %></div>
          </div>
          <% end %>
          <div class="stats-label text-color">
            <span class="font-extra-bold font-uppercase"><%= (current_user.name || current_user.email).to_s%></span>
            <div class="dropdown">
              <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                <small class="text-muted">manager <b class="caret"></b></small>
              </a>
              <ul class="dropdown-menu animated flipInX m-t-xs">
                <li>
                  <%= link_to edit_user_registration_path do %>
                  Edit
                  <% end %>
                </li>
                <li>
                  <%= link_to billing_path do %>
                  Billing
                  <% end %>
                </li>
              </ul>
            </div>
            <div id="profileChart" class="small-chart m-t-sm"></div>
            <div>
              <h4 class="font-extra-bold m-b-xs">
              $<%= @total_collected_money_data_total || "0.00" %>
              </h4>
              <small class="text-muted">Total collected tips for the last 2 weeks.</small>
            </div>
          </div>
        </div>
        <ul class="nav" id="side-menu">
          <li>
            <%= link_to dashboard_path do %>
            <span class="nav-label">Dashboard</span>
            <% end %>
          </li>
          <li>
            <%= link_to setup_path do %>
            <span class="nav-label">Setup</span>
            <% end %>
          </li>
          <li>
            <%= link_to employee_path do %>
            <span class="nav-label">Employee</span>
            <% end %>
          </li>
          <li>
            <%= link_to calculation_path do %>
            <span class="nav-label">Calculation</span>
            <% end %>
          </li>
          <li>
            <%= link_to history_path do %>
            <span class="nav-label">History</span>
            <% end %>
          </li>
          <li>
            <%= link_to reports_path do %>
            <span class="nav-label">Reports</span>
            <% end %>
          </li>
        </ul>
      </div>
    </aside>
    <!-- Main Wrapper -->
    <div id="wrapper">
      <%= content_for?(:content) ? yield(:content) : yield %>
      <!-- Footer-->
      <!--  <footer class="footer">
        <span class="pull-right">
          Example text
        </span>
        Company 2016
      </footer> -->
    </div>
    <%= render partial: "layouts/loader" %>
    <%= javascript_include_tag "icheck.min", "sparkline.index" %>
  </body>
</html>
